@import "bootstrap";
@import "bootstrap-icons";

a {
  text-decoration: none;
}

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #E26D5C;
  background: #fff;
  border-radius: 100%;
  padding: 15px 20px;
  font-size: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #E26D5C;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1F487E;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1D3461;
  color: #fff;
}

@-webkit-keyframes pulse {

  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}


.text_color {
  color: #163d68;
}

.display-6 {
  font-weight: 700;
  line-height: 1.2;
}

.text_color_body {
  color: #eef1f3;
}

.background {
  background-image: url(../images/sfondo_presto.jpg);
  background-size: cover;

}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.navbar{
  background: rgb(22, 61, 104) !important;
  /* background: radial-gradient(circle, rgb(208, 255, 151) 0%, rgb(205, 252, 255) 96%); */


}

.navbar .navbar-nav .nav-link {
  padding: 10px 15px;
  font-size: 16px;
  transition: .5s;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.h-nav {
  height: 126px;
}

.fixed-top {
  transition: 0.5s;
  background: var(--bs-white);
  border: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


.bg-primary {
  background-color: rgb(50, 90, 219) !important;
}

.topbar {
  padding: 20px;
  border-radius: 230px 100px;
}


.d-lg-block {
  display: block !important;
}

.hero-header, .page-header {
  margin-top: 100px !important;
  margin-bottom: 200px ;
}

.footer{
  background: rgb(53, 134, 255);
  background: linear-gradient(180deg, rgba(53, 134, 255, 1) 0%, rgba(22, 61, 104, 1) 68%);
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

body {
  background: #eef1f3;
  /* background: radial-gradient(circle, rgb(240, 255, 220) 0%, rgb(218, 253, 255) 96%); */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

  padding: 0;

}


.form {

  background: rgb(255, 178, 111);
  background: radial-gradient(circle, rgb(255, 178, 111) 11%, rgb(205, 252, 255) 100%);
}

.card {

  background: rgb(238, 241, 243);

  /* background: radial-gradient(circle, rgb(31, 115, 126) 11%, rgb(6, 6, 42) 100%); */
}


.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
* Generated by Animista on 2024-3-15 14:16:22
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.kenburns-top {
  -webkit-animation: kenburns-top 2s ease-out reverse both;
  animation: kenburns-top 2s ease-out reverse both;
  overflow: hidden;
}

/* ----------------------------------------------
* Generated by Animista on 2024-3-22 22:20:22
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation kenburns-top
* ----------------------------------------
*/
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}





.form {

  background: rgb(238, 241, 243);
  background: radial-gradient(circle, rgb(238, 241, 243) 11%, rgb(200, 208, 235) 100%);
}

.card-sl:hover {

  transition: .6s ease;
  transform: perspective(3px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  background-size: 720%;

}


.btn {

  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(22, 62, 104, 0.72);
  cursor: pointer;
  margin: 20px;
  height: auto;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}


.btn:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: white;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-image: linear-gradient(
  to right,
  #163e68da,
  #4481eb,
  #fe0404d6,
  #3f86ed
  );
  box-shadow: 0 4px 15px 0 #163d68;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn633-hover.bn27 {
  background-image: linear-gradient(
  to right,
  #163d68,
  #4481eb,
  #fe0404c3,
  #3f86ed
  );
  box-shadow: 0 4px 15px 0 #163d68;
}

.bn633-hover {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn633-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn633-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
  to right,
  #163e68,
  #4481eb,
  #fe0404e2,
  #3f86ed
  );
  box-shadow: 0 4px 15px 0 #163d68;
}

.img-preview {
  max-width:150px;
  height: 150px;
}

.li-flag{
  min-width: 0rem !important;
}
.btn-flag {
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.wrap {
  min-height: 80vh;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;

}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact100 {
  width: 500px;
  background: rgb(96,166,236);
  background: linear-gradient(0deg, rgba(96,166,236,1) 0%, rgba(0,61,129,0.7637429971988796) 47%);
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px;
}

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #070707;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #163e68;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

.validate-input {
  position: relative;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #0000b3;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: 0 0;
  font-family: Poppins-Medium;
  font-size: 18px;
  color: #333;
  line-height: 1.2;
  padding: 0 5px;
}

input.input100 {
  height: 40px;
}

input {
  outline: none;
  border: none;
  overflow: visible;
  touch-action: manipulation;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all .4s;
  background: #7f7f7f;
}

::before {
  box-sizing: inherit;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.contact100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #a62e2e;
  line-height: 1.2;

  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contact100-form-btn:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.contact100-form-btn:focus {
  outline: none;
}

.contact100-form-btn {
  background-image: linear-gradient(
  to right,
  #163d68,
  #4481eb,
  #fe0404c3,
  #3f86ed
  );
  box-shadow: 0 4px 15px 0 #163d68;
}

textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

textarea {
  outline: none;
  border: none;
  overflow: auto;
  resize: vertical;
  touch-action: manipulation;
  margin: 0;
}

input[placeholder] {
  color: #eef1f3;
}
::-webkit-input-placeholder {
  /* WebKit browsers (Safari, Google Chrome, Opera 15+) */
  color: #eef1f3;
}



/* Effetti categorie home */

.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;

}

.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);


  .text {
    opacity: 1;
    }

  &>div, &>a {
    opacity: 1;
    transition-delay: 0s;
  }

  .explainer {
    opacity: 0;
  }
}

.left,
.left1,
.left2,
.left3,
.left4,
.center,
.right,
.right1,
.right2,
.right3,
.right4 {
  width: 250px;
  height: 100px;
  transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(73, 128, 246, 0.4);
  opacity: 0;
  transition: all .3s ease;
  transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1f60a6;

  cursor: pointer;
  background-blend-mode: color-burn;

  &:hover {
    box-shadow: 0 0 30px 10px rgba(184, 213, 242, 0.6);
    background-color: rgb(122, 175, 244);

  }
}

.text {
  transform: translateY(30px);
  opacity: 0;
  transition: all .3s ease;
  bottom: 0;
  left: 5px;
  position: absolute;
  color: #1f60a6#fff;
  text-shadow: 0 0 5px rgba(55, 145, 255, 0.6)
}


.left {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(../images/MakeUp.png);
}
.left1 {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(../images/Immobili.png);
}
.left2 {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(../images/Musica.png);
}
.left3 {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(../images/Accessori.png);
}
.left4 {
  transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(../images/Arredamento.png);
}

.center {
  opacity: 1;
  background-image: url(../images/Categorie.png);
}

.right {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(../images/Sport.png);
}
.right1 {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(../images/Lavoro.png);
}
.right2 {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(../images/DaCollezione.png);
}
.right3 {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(../images/Tecnologia.png);
}
.right4 {
  transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(../images/Auto.png);
}



.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  transition: all .6s ease;
  width: 100%;
  height: 100%;
  background-color: #1f60a6;
  background-image: radial-gradient(circle at center top, rgb(173, 190, 241), rgb(10, 57, 119));
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, .8);

  display: flex;
  justify-content: center;
  align-items: center;

}
